$font-primary: 'Montserrat', sans-serif;
$max-width: 400px;

body {
  background-color: #F5F5F5;
  font-size: 1.1em;
  font-family: $font-primary;
}
#mainPopup {
    padding-right: 10px;
    margin-top: -20px;
    width: $max-width;
}

#width {
    background: url("width-icon.png") no-repeat right center;
}

#height {
    background: url("height-icon.png") no-repeat right center;
}

#height, #width {
    height: 20px; 
    width: 80px;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #A1A1A1;
    margin: auto 5px;
}
#generate {
    height: 27px; 
    width: 80px;
    border-radius: 5px;
}
#options { 
    margin: auto 5px;
}

#linkText {
    font-size: 0.65em;
    padding-bottom: 5px;
}

button, input, select, textarea, placeholder {
    font-family: $font-primary;
}

#copied {
    display: none;
    width: 190px;
    height: 40px;
    margin: 0 auto;
    background-color: #ffffe0;
    border: 1px dashed;
    border-color: #dcdcdc;
    padding: 1px 0 0 10px;
    position: fixed;
    top: 0;
    right: 0;
}
#copiedMsg {
    font-size: 13px;
    margin-left: 10px;
    color: #333;
}

#inputControls {
    margin-bottom: 1rem;
    .validationError {
        border: 3px solid red;
    }
}

.generatedImage {
	filter: drop-shadow(5px 5px 5px #222);
	max-width: $max-width;
	max-height: $max-width;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
}

#imgLink {
	border: none; 
	width: $max-width; 
	background: transparent;
}

#validationErrors {
    color: red;
    font-style: italic;
}