body {
  background-color: #F5F5F5;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
}
#mainPopup {
    padding-right: 10px;
    margin-top: -20px;
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

#width {
    background: url("width-icon.png") no-repeat right center;
}

#height {
    background: url("height-icon.png") no-repeat right center;
}

#height, #width {
    height: 20px; 
    width: 80px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #A1A1A1;
    margin-left: 5px;
    margin-right: 5px;
}
#generate {
    height: 27px; 
    width: 80px;
    border-radius: 5px;
}
#options { 
    margin-left: 5px;
    margin-right: 5px;
}

#linkText {
    font-size: 0.65em;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
}

button, input, select, textarea {
    font-family: 'Montserrat', sans-serif;
}
::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
}
:-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
}
::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2em;
}

h3 {
    padding-top: 6px;
}

#copied {
    display: none;
    width: 190px;
    height: 40px;
    margin: 0 auto;
    background-color: #ffffe0;
    border: 1px dashed;
    border-color: #dcdcdc;
    padding-left: 10px;
    padding-top: 1px;
    position: fixed;
    top: 0;
    right: 0;
}
#copiedMsg {
    font-size: 15px;
    margin-left: 10px;
    color: #333;
}

#inputControls .validationError {
	border: 3px solid red;
}

.generatedImage {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	max-width: 400px;
	max-height: 400px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
}

#imgLink {
	border: none; 
	width: 400px; 
	background: transparent;
}

#validationErrors {
    color: red;
    font-style: italic;
}